---
import Container from "@components/Container.astro"
import PageLayout from "@layouts/PageLayout.astro"
import { HOME } from "@consts"
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
	<Container size="md">
		<section>
			<article class="space-y-10 text-center">
				<h4 class="animate font-semibold text-black dark:text-white">
					404 {`|`} NOT FOUND
				</h4>
				<p class="animate">
					:( Sorry, the page you requested for does not exist.
				</p>
				<div class="animate flex justify-center">
					<a
						href="/"
						class="group w-fit p-1.5 gap-1.5 text-sm flex items-center border rounded hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 24 24"
							fill="none"
							stroke-width="2.5"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white"
						>
							<line
								x1="19"
								y1="12"
								x2="5"
								y2="12"
								class="scale-x-0 group-hover:scale-x-100 translate-x-3 group-hover:translate-x-0 transition-all duration-300 ease-in-out"
							></line>
							<polyline
								points="12 19 5 12 12 5"
								class="translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out"
							></polyline>
						</svg>
						<div
							class="w-full group-hover:text-black group-hover:dark:text-white transition-colors duration-300 ease-in-out"
						>
							Back to Home
						</div>
					</a>
				</div>
			</article>
		</section>
	</Container>
</PageLayout>
