---
import Link from "./Link.astro"
import { SOCIALS } from "@consts"

type Props = {
	item: string
}

const { item } = Astro.props
---

<div class="animate mt-10 space-y-10">
	<div class="w-1/2 mx-auto border border-black/15 dark:border-white/30">
	</div>
	<div class="text-center">
		💭 Have Feedback?
		<br />
		<br />
		I'd love to hear from you. <Link href="/contact">Let's Talk.</Link>
	</div>
</div>
