---
import Link from "./Link.astro"
import { SOCIALS } from "@consts"

type Props = {
    item: string
}

const { item } = Astro.props
---

<div class="animate mt-10 space-y-10">
			<div
				class="w-1/2 mx-auto border border-black/15 dark:border-white/30"
			>
			</div>
			<div>
				💭 I'd love to hear your feedback on this {item}! Feel free to <Link href={SOCIALS[0].HREF}>contact me</Link
				> with your thoughts.
			</div>
		</div>