---
import Container from "@components/Container.astro"
import Link from "@components/Link.astro"
import { SITE } from "@consts"
---

<header>
	<Container>
		<div class="flex flex-wrap flex-col sm:flex-row gap-y-2 justify-between items-center">
			<Link href="/" underline={false}>
				<div class="font-semibold flex items-center space-x-2">
					<img
						src={SITE.IMAGE}
						alt={SITE.NAME}
						class="w-8 rounded-md"
					/>
					<span>{SITE.NAME}</span>
				</div>
			</Link>
			<nav class="flex gap-1">
				<Link href="/blog"> blog </Link>
				<span>
					{`/`}
				</span>
				<Link href="/projects"> projects </Link>
				<span>
					{`/`}
				</span>
				<Link href="/contact"> contact </Link>
			</nav>
		</div>
	</Container>
</header>
