---
import Icon from "./Icon.astro"

const { icon, title, text } = Astro.props
---

<div class="transition-colors cursor-default">
	<Icon name={icon} class="shrink-0 size-9 fill-current" />
	<div class="mt-5">
		<h3 class="font-semibold">
			{title}
		</h3>
		<p class="mt-1 font-serif">
			{text}
		</p>
	</div>
</div>
